*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #cacaca;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  text-align: center;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.container p::first-letter {
  text-transform: uppercase;
}

button {
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #909090;
  border-radius: 17px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  left: 50%;
  padding: 0.5em 2em;
  position: absolute;
  top: 55%;
  transform: translateX(-50%);
  user-select: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  border: 3px solid #f9f9f9;
}
